# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Local configuration
*.local

# Logs
*.log
